Exps_1t4_Miscel/
Miscel/
Experiment 1/Data and Analysis Script/.Rhistory
Experiment 2/Data and Analysis Script/.Rhistory
Experiment 3/Data Analysis and Script/.Rhistory
Experiment 4/Data Analysis and Script/.Rhistory
Experiments and Results v3.txt
Experiments and Results v4.txt
Figures/
Introduction (Chapter 1) v7.txt
Deon T. Benton - Dissertation.docx
experiment_5_write_up.txt